<header class="main-header" id="topic_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <h4><%= link_to "Regresar a la guía", @topic.lesson.course %></h4>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-6 text-center">
                <%= link_to 'MARCAR COMO <BR> COMPLETO Y CONTINUAR'.html_safe, mark_as_done_path(topic_id: @topic.id), class: "btn btn-ar btn-lg btn-primary", id: "next-step-topic-view" %>
            </div>
        </div>                
    </div>
</header>

<section class="css-section">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<% @progress %>" aria-valuemin="5" aria-valuemax="100" style="width: <% if @progress == 0 %>3%<% else %><%= @progress %>%<% end %>">
            <%= @progress %>%
        </div>
    </div>
</section>

<!-- Conditional to show support content from a specific topic -->
<% if @topic.content_url == "" %>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">                
                    <div class="video">
                        <% if @topic.document.url.include? "http"  %>
                            <iframe src="/pdfjs/web/viewer.html?file=<%= @topic.document.url.sub! 'http', 'https' %>" style="border: 0" width="50%" height="600" frameborder="0" scrolling="no"></iframe>
                        <% else %>
                            <iframe src="/pdfjs/web/viewer.html?file=<%= @topic.document.url %>" style="border: 0" width="50%" height="600" frameborder="0" scrolling="no"></iframe>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="container" id="first_topic_video">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-primary">                
            <div class="video">
              <iframe src="<%= "#{@topic.content_url}"+"?title=0&amp;byline=0&amp;portrait=0" %>"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="container">
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1">
            <h1 class="section-title" id="topic_title" style="display:inline-block"><%= @topic.title %></h1>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 text-right">
            <%= link_to 'MARCAR COMO <BR> COMPLETO Y CONTINUAR'.html_safe, mark_as_done_path(topic_id: @topic.id), class: "btn btn-ar btn-lg btn-primary", id: "next-step-topic-view-top" %>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 80px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                <!-- <li class="active"><a href="#home2" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li><a href="#messages2" data-toggle="tab">ACCIONES PARA TU PROYECTO</a></li>
                <li><a href="#profile2" data-toggle="tab">RECURSOS ADICIONALES</a></li>   
                <% if !(@topic.content_url == "") %>
                    <li><a href="#transcription" data-toggle="tab">TRANSCRIPTION</a></li>
                <% end %>
            </ul>
             
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- <div class="tab-pane active" id="home2"><%= @topic.description %></div> -->
                <div class="tab-pane" id="profile2">
                    <h1 class="section-title" id="topic_title">Lista de Recursos</h1>
                    Estos recursos te serviran como material de apoyo para esta sección:
                    <div class="list-group">
                        <% @topic.resources.each do |resource| %>
                           <a href="<%= resource.link_url %>" class="list-group-item" target="_blank">
                             <h4 class="list-group-item-heading"><%= resource.title %></h4>
                             <p class="list-group-item-text"><%= resource.description %></p>
                           </a> 
                        <% end %>                      
                    </div>
                </div>
                <div class="tab-pane" id="messages2">
                    Sigue las siguiente lista de acciones y aplicalas en tu proyecto personal:
                    <%= @topic.activities.html_safe %>
                </div>  
                <div class="tab-pane" id="transcription">                    
                    <%= @topic.transcription.html_safe %>
                </div>            
            </div>
        </div>
    </div>
</div>