<div class="container" id="course_information_header">
  <div class="row">
    <div id="course_information_text" class="col-md-10 col-md-offset-1 text-center">
      <h1 id="course_information_title"><%= @course.title %></h1>    
    </div>
  </div>
</div>

<div class="container">
  <% @instructors.each do |instructor|%>    
    <div class="row" id="teacher_course"> 
      <div class="col-md-3 col-md-offset-2 text-center vcenter" id="teacher_image_box">
        <img src="<%= instructor.image.url %>" alt="" id="teacher_image">
      </div>
      <div class="col-md-6 vcenter" id="teacher_information">      
        <p class="text-justify"><%= instructor.background %></p>
        <h2 class="text-center"><%= instructor.name %></h2>
      </div>
    </div>    
  <% end %>
</div>

<!-- Conditional to show support content from a specific topic -->
<% if @course.lessons.first.topics.first.content_url == "" %>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">                
                    <div class="video">
                        <iframe src="/pdfjs/web/viewer.html?file=<%= @course.lessons.first.topics.first.document.url %>" style="border: 0" width="50%" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="container" id="first_topic_video">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-primary">                
            <div class="video">
              <iframe src="<%= "#{@course.lessons.first.topics.first.content_url}"+"?title=0&amp;byline=0&amp;portrait=0" %>"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="right-line">Descripción</h2>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="text-icon wow fadeInUp">
        <h3 class="no-margin" id="course_title"><%= @course.title %></h3>
        <p class="text-justify"><%= @course.description %></p>        
      </div>
    </div>
  </div>
</div>

<style>
  div#course_information_header {
    height: 76vh;
    width: 100%;    
    background-image: url('<%= @course.image.url %>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
  }

  img#teacher_image { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid white;
  }

  div#course_information_text {
    margin-top: 100px;
    border-radius: 25px;
  }

  div#course_information_text h1#course_information_title{
    margin-top: 150px;
    border-radius: 25px;
    font-size: 60px;
    color: white;
    font-weight: bold;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  div#teacher_course:first-child {
    margin-top: -130px;
  }

  div#teacher_course:not(:first-child) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  div#teacher_information {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 15px;
  }
  div#teacher_information h2{
    font-weight: bold;
    font-size: 35px
  }
  div#teacher_information p{
    font-weight: bold;
    color: white;
  }
  div#first_topic_video {
    margin-top: 50px;
  }
  h3#course_title {
    font-size: 25px;
    font-weight: bold;
  }
</style>