<script>
  mixpanel.track("Video play");
  mixpanel.track("Home_Loaded",{"Page Name": "Home_Loaded"});
  mixpanel.track_links("#EmprezarAhoraHome", "Empezar Ahora clicked CTA");
  mixpanel.track_links("#AccederAhoraHomeBottom", "Acceder Ahora clicked CTA");
</script>

<div id="sb-site">
<div class="boxed">


<!-- WRAPPER ALTERNATIVO -->
<div class="wrap-primary">
  <div class="container col-xs-12 col-md-12" id="container-total">
    <div class="container" id="containerPrimario" >
      <div class="row" id="row1">
        <div class=" col-md-6"></div>
        <div class="col-xs-12   col-md-6 " >
          <div class="colCentral" style="padding: 30px;text-align:center; margin-top:75px">
            <h1 style="color:black; font-weight:500" class="head-title"><stong>Aprende cómo crear y crecer negocios exitosos</strong></h1><br>
             <hr><br>
            <h2 style="line-height: 30px; color:black; line-height: 1.5em;" class="head-subtitle"> <span style="color:#5ebe1e;font-weight: 600;">Ahorra tiempo</span> y <span style="color:#5ebe1e;font-weight: 600;">Manténte actualizado </span><br>
            con las mejores estrategias de los empresarios más exitosos,  
            paso a paso y en español</span></h2>
          </div> <!--termina div colcentral -->
        </div> <!-- div col8 finaliza -->
      </div><!--termina el row1-->
    </div><!--termina container primario-->
  </div>
</div>

<br>
<!-- INICIA GUIAS GRATUITAS -->
<% unless user_signed_in? && (current_user.vip_user? || current_user.guest?) %>
  <div class="container"> <!-- INICIA TODAS LAS GUÍAS--> 
    <section class="margin-bottom" id="user-courses">
      <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">CONOCE GRATIS LAS ESTRATEGIAS DE MUESTRA</h2>
        </div>

        <% @courses.free.each do |course| %> 
          <div class="col-sm-6 col-md-4 col-xs-12"><br>
            <div class="thumbnail" style="background-color:#17375E">
              <% if course.new_course %>
                <span class="discount text-center">NUEVA</span>
              <% end %>
              <!-- <img src="<%= course.image.url(:medium) %>"alt"..."class="thumbnail_custom_image" > -->
              <div class="caption">
                <h3 class="course_title" style="text-align:center;color:white"><%= course.title %></h3>
               <!--  <p class="text-justify" id="course_description"><%= course.description %></p> -->
              </div>
              <div class="row course-caption">
                <% if user_signed_in? && (current_user.user? || current_user.admin? || current_user.content_manager?) %>
                  <% if course.free? %>
                    <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                      <span class="text-center">Basado en:</span><br>
                      <%#if !course.instructors.blank? %>
                        <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image", style:"heigh:300; width:200") %>
                        <%#= course.instructors.first.name %>
                      <#% end %>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                      <center> 
                        <%= link_to 'Leer la estrategia', course, class: "btn btn-ar btn-primary btn-responsive-thumbnail", style:"margin-top: -90px"%> 
                      </center>
                    </div>
                  <% else %>
                    <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info"> -->
                      <!-- <span>Basado en:</span><br> -->
                      <%# if !course.instructors.blank? %>
                        <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image") %>
                        <%#= course.instructors.first.name %>
                      <%# end %>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                      <center> <%= link_to 'Ver estrategia', course_information_path(:course_id => course.id), class: "btn btn-ar btn-view-course btn-responsive-thumbnail", style:"margin-top: -90px" %> </center>
                    </div>
                  <% end %>
                <% elsif user_signed_in? && current_user.vip_user? %>
                  <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                    <span>Basado en:</span><br> -->
                    <%# if !course.instructors.blank? %>
                      <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image") %>
                      <%#= course.instructors.first.name %>
                    <%# end %>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                    <center><%= link_to 'Leer la estrategia', course, class: "btn btn-ar btn-primary btn-responsive-thumbnail", style:"margin-top: -90px" %></center>
                  </div>
                <% else %>
                  <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                    <span>Basado en:</span><br> -->
                    <%# if !course.instructors.blank? %>
                      <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image") %>
                      <%#= course.instructors.first.name %>
                    <%# end %>
                  <!-- </div> -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                   <center><%= link_to 'Ver estrategia', course_information_path(:course_id => course.id), class: "btn btn-ar btn-view-course btn-responsive-thumbnail", style:"margin-top: -90px" %> </center> 
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div> <!-- row -->
    </section>
  </div>
<% end %>  

<!-- TERMINA GUIAS GRATUITAS -->

<br>

<!-- INICIA CALL TO ACTION -->
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="dropdown-text">
                  <div class="dropdown" id="categories_dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="option-selected">Escoge un tema</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu grid-controls" aria-labelledby="dropdownMenu1">
                      <li><a class="filter" href="#" data-filter="*">Todo</a></li>
                      <% @categories.each do |categorie| %>
                        <li><a class="filter" href="#" data-filter=".<%= categorie.name.downcase.gsub(' ','-') %>"><%= categorie.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </h1>
              </div>
            </div> <br><br>
            <!-- TERMINA CALL TO ACTION --> 

<!-- response request categories-->
<div class="container">
  <div class="row grid">
    <% @courses.each do |course| %>
      <div class="col-sm-6 col-md-4 col-xs-12 <% course.categories.each do |c| %><%= " " + c.name.downcase.gsub(' ','-') %><% end %>">
        <div class="thumbnail" style="background-color: #17375E;">
          <% if course.new_course %>
            <span class="discount text-center">NUEVA</span>
          <% end %>
          <!-- <img src="<%= course.image.url(:medium) %>" alt="..." class="thumbnail_custom_image"> -->
          <div class="caption">
            <h3 class="course_title" style="text-align:center;color:white"><%= course.title %></h3>
          </div>
          <div class="row course-caption">
            <% if user_signed_in? && (current_user.user? || current_user.admin? || current_user.content_manager?) %>
              <% if course.free? %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <center><%= link_to 'Leer la estrategia', course, class: "btn btn-ar btn-primary btn-responsive-thumbnail", style:"margin-top: -90px" %></center>
                </div>
              <% else %>
                <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                </div> -->
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <center><%= link_to 'Ver estrategia', course_information_path(:course_id => course.id), class: "btn btn-ar btn-view-course btn-responsive-thumbnail", style:"margin-top: -90px" %></center>
                </div>
                
              <% end %>
            <% elsif user_signed_in? && (current_user.vip_user? || current_user.guest?) %>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center instructor-info">
              </div>
              
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <center><%= link_to 'Leer la estrategia', course, class: "btn btn-ar btn-primary btn-responsive-thumbnail", style:"margin-top: -90px" %></center>
              </div>
              </center>
            <% else %>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center instructor-info"></div>
             
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                 <center><%= link_to 'Ver estrategia', course_information_path(:course_id => course.id), class: "btn btn-ar btn-view-course btn-responsive-thumbnail", style:"margin-top: -90px" %> </center>
              </div>
             
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  /* portfolio mixitup */
  $(document).on("ready page:load", function() {
    var $container = $('.grid');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });
 
    $('.grid-controls li a').click(function(){
        $('.grid-controls .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    });

    $("a.filter").click(function() {
      $("#dropdownMenu1").dropdown("toggle");
      $("span.option-selected").text($(this).text());
    });
});
</script>

<!-- termina response request category -->




