<header class="main-header" id="topic_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="page-title" id="title-topic">Bienvenido a Business Hackers!, ahora puedes leer todas las guías gratuitas!</h3>
        </div>
      </div>
    </div>
</header>

<!-- INICIA GUIAS GRATUITAS -->
<% unless user_signed_in? && (current_user.vip_user? || current_user.guest?) %>
  <div class="container"> <!-- INICIA TODAS LAS GUÍAS--> 
    <section class="margin-bottom" id="user-courses">
      <div class="row">
        <!-- <div class="col-md-12">
            <h2 style="text-align:center; color:black">CONOCE LAS GUÍAS GRATUITAS</h2>
        </div> -->

        <% @courses.free.each do |course| %> 
          <div class="col-sm-6 col-md-4 col-xs-12"><br>
            <div class="thumbnail" style="background-color:#17375E">
              <% if course.new_course %>
                <span class="discount text-center">NUEVA</span>
              <%elsif course.course_type == "free"%> 
                <span class="discount-dos text-center">GRATIS</span>
              <% end %>
              <!-- <img src="<%= course.image.url(:medium) %>"alt"..."class="thumbnail_custom_image" > -->
              <div class="caption">
                <h3 class="course_title" style="text-align:center;color:white"><%= course.title %></h3>
               <!--  <p class="text-justify" id="course_description"><%= course.description %></p> -->
              </div>
              <div class="row course-caption">
                <% if user_signed_in? && (current_user.user? || current_user.admin? || current_user.content_manager?) %>
                  <% if course.free? %>
                    <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                      <span class="text-center">Basado en:</span><br>
                      <%#if !course.instructors.blank? %>
                        <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image", style:"heigh:300; width:200") %>
                        <%#= course.instructors.first.name %>
                      <#% end %>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                      <center> 
                        <%= link_to 'Leer la guía', course, id:"CTALeerEstrategiaThumbnail", class: "btn btn-ar btn-primary btn-responsive-thumbnail", style:"margin-top: -90px"%> 
                      </center>
                    </div>
                  <% else %>
                    <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info"> -->
                      <!-- <span>Basado en:</span><br> -->
                      <%# if !course.instructors.blank? %>
                        <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image") %>
                        <%#= course.instructors.first.name %>
                      <%# end %>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                      <center> <%= link_to 'Ver guía', course_information_path(:course_id => course.id), id:"CTAVerEstrategiaThumbnail", class: "btn btn-ar btn-view-course btn-responsive-thumbnail", style:"margin-top: -90px"%> </center>
                    </div>
                  <% end %>
                <% elsif user_signed_in? && current_user.vip_user? %>
                  <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                    <span>Basado en:</span><br> -->
                    <%# if !course.instructors.blank? %>
                      <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image") %>
                      <%#= course.instructors.first.name %>
                    <%# end %>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                    <center><%= link_to 'Leer la guía', course, id:"CTALeerEstrategiaThumbnail",  class: "btn btn-ar btn-primary btn-responsive-thumbnail", style:"margin-top: -90px" %></center>
                  </div>
                <% else %>
                  <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 text-center instructor-info">
                    <span>Basado en:</span><br> -->
                    <%# if !course.instructors.blank? %>
                      <%#= image_tag(course.instructors.first.image.url(:thumb), class: "instructor-image") %>
                      <%#= course.instructors.first.name %>
                    <%# end %>
                  <!-- </div> -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                   <center><%= link_to 'Ver guía', course_information_path(:course_id => course.id), id:"CTAVerEstrategiaThumbnail" ,class: "btn btn-ar btn-view-course btn-responsive-thumbnail", style:"margin-top: -90px"%> </center> 
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div> <!-- row -->
    </section>
  </div>
<% end %>  

<!-- TERMINA GUIAS GRATUITAS -->

<div class="container" id="first_topic_video">
  <!-- <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GOTYDOXjqxY?wmode=transparent"></iframe>
          
        </div>
      </div>
    </div>
  </div> -->
  <div class="row" id="video_actions">
  	<div class="col-md-10 col-md-offset-1 text-center">
      <% if @previous_url %>
        <%= link_to "VER LA GUÍA QUE SELECCIONASTE", @previous_url, class: "btn btn-ar btn-primary" %>
      <% else %>
        <%#= link_to "VER LA GUÍA QUE SELECCIONASTE", search_by_category_path, class: "btn btn-primary" %>
      <% end %>
  		<%= link_to "SUSCRIBIRTE Y ACCEDER A TODAS LAS GUIAS", new_subscription_path, class: "btn btn-ar btn-warning" %>
  	</div>
  </div>
</div>