
<!-- Stripe Logo-->
<div class="row animated fadeInDown animation-delay-13" id="powered_by_stripe">
        <div class="col-md-12 text-center">
          Pago seguro
          <img src="http://i592.photobucket.com/albums/tt5/Mardini03/solid.png" alt="">
        </div>
</div>
<!-- Stripe Logo-->

<div class="paper-back-full">
  <div class="login-form-full" style="padding-top:20px;">
    <div class="fix-box">
      <div class="text-center title-logo animated fadeInDown animation-delay-5" style="padding-top:20px;">
        business<span>Hackers</span>
      </div>
      <div class="transparent-div no-padding animated fadeInUp animation-delay-8">
        <ul class="nav nav-tabs nav-tabs-transparent">
          <li style="width: 50%;" id="account_created">
            <a href="" onclick="return false">1 Crear Cuenta</a>
          </li>
          <li class="active" style="width: 50%;">
            <a href="" data-toggle="tab">2 Pagar Subscripción</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <% unless @subscription.errors.blank? %>
              <%= @subscription.errors.full_messages.to_sentence %>
            <% end %>

            <h3 class="text-center" style="color:black;"><strong>Elige uno de los siguientes planes:</strong></h3>
            <div class="row" id="plan_buttons">
              <div class="col-md-12 text-center">
                <button class="btn-ar btn-success" data-name="Plan VIP Anual" data-id="<%= Plan.find_by_stripe_id("anual").id %>" data-price="204.99" id="anual">
                  Subscripción<br><span style="text-decoration: line-through;">$239.88</span> $204.99 dólares/año
                </button>
                <button class="btn-ar btn-warning" data-name="Plan VIP Mensual" data-id="<%= Plan.find_by_stripe_id("mensual").id %>" data-price="19.99" id="mensual ">
                  Subscripción<br>$19.99 dólares/mes
                </button>
              </div>
            </div>
            <h2>
              <span id="plan_name">
                <%= "Plan VIP Mensual" if params[:subscription_plan] == "plan_mensual" %>
                <%= "Plan VIP Anual" if params[:subscription_plan] == "plan_anual" %>
              </span>
            </h2>

            <%= form_for @subscription, html: { id: 'payment-form' } do |f| %>
              <% if params[:subscription_plan] == "plan_mensual" %>
                <input type="hidden" id="plan_selected" name="plan_id" value="<%= Plan.find_by_stripe_id("mensual").id %>"/>
              <% elsif params[:subscription_plan] == "plan_anual" %>
                <input type="hidden" id="plan_selected" name="plan_id" value="<%= Plan.find_by_stripe_id("anual").id %>"/>
              <% else %>
                <input type="hidden" id="plan_selected" name="plan_id" value="0"/>
              <% end %>
              <span class="payment-errors"></span>

              <div class="field form-group input-group login-input">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= text_field_tag :card_number, nil, name: nil, class: "form-control", placeholder: "Número Tarjete de Crédito", :data => {:stripe => 'number' } %>
              </div>
              <div class="field form-group input-group login-input">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= text_field_tag :card_code, nil, name: nil, placeholder: "CVC", :data => {:stripe => 'cvc' } %>
                <img src="http://i592.photobucket.com/albums/tt5/Mardini03/creditcardlogos-2%201.png" height="34px" width="145px" alt="" class="supported_cards">
              </div>
              <div class="field form-group input-group login-input">
                <label>
                <span>Expiración de tarjeta (MM/YY)</span>
                <input type="text" size="2" data-stripe="exp-month"/>
                </label>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year"/><br><br>
                Total a pagar: <span id="plan_price">
                  <%= "19.99 dólares/mes" if params[:subscription_plan] == "plan_mensual" %>
                  <%= "204.99 dólares/año" if params[:subscription_plan] == "plan_anual" %>
                </span>
              </div>
              <% if params[:subscription_plan] %>
              <button type="submit" class="btn btn-ar btn-primary pull-right btn-lg">Pagar Ahora</button>
              <% else %>
                <button type="submit" id="pay_button" class="btn btn-ar btn-primary pull-right btn-lg">Selecciona un plan</button>
              <% end %>              
            <% end %>
          </div>          
        </div>
        <p class="text-center">Al dar click en el botón estás de acuerdo con las <a href="link a politicas de servicio" target="all_blank">políticas del servicio</a></p>
        <p class="text-center">El proceso de pago puede tardar unos minutos, no cierres esta ventana</p>
      </div>      
    </div>
  </div>
</div>