<%= form_for @user, :url => user_path(@user) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field form-group">
        <%= f.label :name, "Nombre", class: "lead lead-lg" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :email, class: "lead lead-lg" %>
        <%= f.text_field :email, class: "form-control", id: "new_user_email" %>
      </div>

      <% if current_user.admin? %>
        <div class="field form-group">
          <%= f.label :role, "Rol para este usuario", class: "lead lead-lg" %><br />
          <%= f.select :role, options_for_select(User.roles.map {|k,v| [k.humanize,k]}, @user.role), {}, { :class => "form-control" } %>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :image, "Foto de perfil", class: "lead lead-lg" %>
        <%= f.file_field :image, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions form-group text-center">
  	<%= f.submit "Editar Usuario", class: "btn btn-ar btn-lg btn-success" %>
  </div>
<% end %>