<div class="container">
	<div class="row">
		<h2 class="right-line">LISTADO DE USUARIOS REGISTRADOS</h2>
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th class="text-center lead lead-lg">No Usuario</th>
					<th class="text-center lead lead-lg">Imagen</th>
					<th class="text-center lead lead-lg">Nombre</th>
					<th class="text-center lead lead-lg">Correo</th>
					<th class="text-center lead lead-lg">Role</th>
					<th class="text-center lead lead-lg">Opciones</th>
				</tr>
				<% @users.each_with_index do |user,index| %>
					<tr class="text-center">
						<td class="lead lead-sm vert-align text-center"><%= index+1 %></td>
						<% if user.image.url == "http://i592.photobucket.com/albums/tt5/Mardini03/765-default-avatar.png" %>
							<td class="vert-align text-center"><%= image_tag "http://i592.photobucket.com/albums/tt5/Mardini03/765-default-avatar.png", class: "user-thumbnail" %></td>
						<% else %>
							<td class="lead lead-sm vert-align text-center"><%= image_tag user.image.url(:thumb) %></td>
						<% end %>
						<td class="lead lead-sm vert-align text-center"><%= user.name %></td>
						<td class="lead lead-sm vert-align text-center"><%= user.email %></td>
						<td class="lead lead-sm vert-align text-center"><%= user.role.humanize %></td>

						<td class="lead lead-sm vert-align text-center"><%= link_to "Editar", edit_user_path(user), class: "btn btn-ar btn-warning" %> <%= link_to user_path(user), method: :delete, data: { confirm: '¿Esta seguro que desea elminar esta usuario?' }, class: "btn btn-ar btn-danger" do %><span>Eliminar</span><% end %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2 text-center" id="btn-new-user">
			<%= link_to "Crear Un Nuevo Usuario", new_user_path, class: "btn btn-lg btn-ar btn-success" %>
		</div>
		<%= form_tag import_user_index_path, multipart: true do %>
		  <div class="col-md-3">
		    <%= file_field_tag :file, :class => 'user-upload' %>
		  </div>
		  <%= submit_tag "Import", :class => "btn btn-default" %>
		<% end %>
	</div>
</div>

<script>
  $(".user-upload").filestyle({icon: false});
</script>