<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Sistema para la creación de usuarios con CSV</h1>
			<p class="text-center">El siguiente modulo le permite crear usuarios por medio de archivos de texto plano, a continuación le presentamos un ejemplo sobre como debe crear el archivo para realizar registros masivos en la plataforma. Seleccione el archivo desde su ubicación y haga click en el boton Importar Usuarios para agregar los nuevos registros.</p>
		</div>				
	</div>

	<div class="row" style="margin-bottom: 30px;">
		<div class="col-md-6 col-md-offset-3 text-center">
			<img class="img-responsive img-thumbnail" alt="Responsive image" src="<%= asset_path('CSV.png') %>">
		</div>
	</div>
	<div class="row" style="margin-bottom: 30px;">
		<%= form_tag import_user_index_path, multipart: true do %>
		  <div class="col-md-3 text-center col-md-offset-4 col-xs-7 col-sm-4 col-sm-offset-3">
		    <%= file_field_tag :file, :class => 'user-upload' %>
		  </div>
		  <%= submit_tag "Importar Usuarios", :class => "btn btn-default" %>
		<% end %>
	</div>
	<div class="row">
		<h2 class="right-line">LISTADO DE USUARIOS REGISTRADOS</h2>
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th class="text-center lead lead-lg">No Usuario</th>
					<th class="text-center lead lead-lg">Imagen</th>
					<th class="text-center lead lead-lg">Nombre</th>
					<th class="text-center lead lead-lg">Correo</th>
					<th class="text-center lead lead-lg">Role</th>
					<th class="text-center lead lead-lg">Opciones</th>
				</tr>
				<% @users.each_with_index do |user,index| %>
					<tr class="text-center">
						<td class="lead lead-sm vert-align text-center"><%= index+1 %></td>
						<% if user.image.url == "http://i592.photobucket.com/albums/tt5/Mardini03/765-default-avatar.png" %>
							<td class="vert-align text-center"><%= image_tag "http://i592.photobucket.com/albums/tt5/Mardini03/765-default-avatar.png", class: "user-thumbnail" %></td>
						<% else %>
							<td class="lead lead-sm vert-align text-center"><%= image_tag user.image.url(:thumb) %></td>						
						<% end %>						
						<td class="lead lead-sm vert-align text-center"><%= user.name %></td>
						<td class="lead lead-sm vert-align text-center"><%= user.email %></td>
						<td class="lead lead-sm vert-align text-center"><%= user.role.humanize %></td>
						
						<td class="lead lead-sm vert-align text-center"><%= link_to "Editar", edit_user_path(user), class: "btn btn-ar btn-warning" %> <%= link_to user_path(user), method: :delete, data: { confirm: '¿Esta seguro que desea elminar esta usuario?' }, class: "btn btn-ar btn-danger" do %><span>Eliminar</span><% end %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center col-md-offset-3" id="btn-new-user">
			<%= link_to "Crear Un Nuevo Usuario", new_user_path, class: "btn btn-lg btn-ar btn-success" %>
		</div>
	</div>
</div>
