<nav class="navbar navbar-static-top navbar-default navbar-inverse" role="navigation" id="header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      	<span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <%= link_to 'Business<span>Hackers</span>'.html_safe, root_path, class: "navbar-brand" %>
    </div> <!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">   
				<% if user_signed_in? %>
					<li><%= link_to 'HacksBlog', root_path(anchor: 'user-courses') %></li>
					<li class="dropdown">
				    <a href="javascript:void(0);" class="dropdown-toggle no-modal" data-toggle="dropdown">Guías</a>
				     <ul class="dropdown-menu dropdown-menu-left">
							<li><%= link_to 'Todos las Guías', root_path(anchor: 'user-courses') %></li>
							<% if current_user.subscription.nil? %>
								<li><%= link_to 'Cuenta VIP', new_subscription_path, class: "no-modal" %></li>
							<% else %>		
								<li><%= link_to 'Editar Tarjeta de Crédito', edit_subscription_path(current_user.subscription.id), class: "no-modal" %></li>
							<% end %>
				    </ul>
					</li> 							         
				<% end %>           
        <% if user_signed_in? && current_user.admin? %>
        	<li><%= link_to 'Comunidad', "http://community.businesshackers.how", :target => '_blank' %></li>
					<li class="dropdown">
				    <a href="javascript:void(0);" class="dropdown-toggle no-modal" data-toggle="dropdown">Opciones Administrador</a>
				     <ul class="dropdown-menu dropdown-menu-left">
			        <li><%= link_to 'Usuarios Registrados', user_index_path, class: "no-modal" %></li>
			        <li role="separator" class="divider"></li>
			        <li><%= link_to 'Crear Guías', new_course_path, class: "no-modal" %></li>
			        <li><%= link_to 'Guías Publicadas', courses_path, class: "no-modal" %></li>
			        <li role="separator" class="divider"></li>
			        <li><%= link_to 'Crear Instructores', new_instructor_path, class: "no-modal" %></li>
			        <li><%= link_to 'Instructores Registrados', instructors_path, class: "no-modal" %></li>
			        <li role="separator" class="divider"></li>
			        <li><%= link_to 'Crear Categoría', new_category_path, class: "no-modal" %></li>
			        <li><%= link_to 'Categorías Almacenadas', categories_path, class: "no-modal" %></li>
				    </ul>
					</li> 
        	<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "no-modal" %></li>
        <% elsif user_signed_in? && current_user.content_manager? %>
        	<li><%= link_to 'Comunidad', "http://community.businesshackers.how", :target => '_blank', class: "no-modal" %></li>
					<li class="dropdown">
				    <a href="javascript:void(0);" class="dropdown-toggle no-modal" data-toggle="dropdown">Gestión de Guías</a>
				     <ul class="dropdown-menu dropdown-menu-left">
			        <li><%= link_to 'Crear Guías', new_course_path, class: "no-modal" %></li>
			        <li><%= link_to 'Guías Publicadas', courses_path, class: "no-modal" %></li>
				    </ul>
					</li>
					<li class="dropdown">
				    <a href="javascript:void(0);" class="dropdown-toggle no-modal" data-toggle="dropdown">Gestión de Instructores</a>
				     <ul class="dropdown-menu dropdown-menu-left">
			        <li><%= link_to 'Crear Instructores', new_instructor_path, class: "no-modal" %></li>
			        <li><%= link_to 'Instructores Registrados', instructors_path, class: "no-modal" %></li>
				    </ul>
					</li> 
					<li class="dropdown">
				    <a href="javascript:void(0);" class="dropdown-toggle no-modal" data-toggle="dropdown">Categorías</a>
				     <ul class="dropdown-menu dropdown-menu-left">
			        <li><%= link_to 'Crear Categoría', new_category_path, class: "no-modal" %></li>
			        <li><%= link_to 'Categorías Almacenadas', categories_path, class: "no-modal" %></li>
				    </ul>
					</li>  
        	<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "no-modal" %></li>
        <% elsif user_signed_in? && ( current_user.user? || current_user.vip_user? || current_user.guest? ) %>
        	<% if current_user.vip_user? || current_user.guest? %>					
						<li><%= link_to 'Comunidad', "http://community.businesshackers.how", :target => '_blank', class: "no-modal" %></li>	
					<% end %>						
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle no-modal" data-toggle="dropdown">
						<img alt="" class="thumb userMenu-thumb" height="40" src="https://photos-4.dropbox.com/t/2/AABhKo2Z0s-Q76AEV61jv0apQ-53a_RwJGCbH3WYXqKMaA/12/31276713/png/32x32/1/_/1/2/business_hacker_icon.png/EPSa1hcYjLcIIAEgAigB/YSiIxNfyYPVnVB1ZAaahx8oKngDgcJL9czn08zg6xnM?size=1024x768&size_mode=2"></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Editar Perfil', edit_user_path(current_user), class: "no-modal" %></li>
							<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "no-modal" %></li>   
						</ul>
					</li>								         
			  <% else %>
			  	<li><%= link_to 'Blog', root_path(anchor: 'user-courses') %></li>
			  	<li><%= link_to 'FAQ', root_path(anchor: 'user-courses') %></li>
			  	<li><%= link_to 'Guías', root_path(anchor: 'user-courses') %></li>
			  	<li><%= link_to 'Iniciar Sesión', new_user_session_path, class: "no-modal" %></li> 
			  	<li><%= link_to 'Crea Una Cuenta Gratis', new_user_registration_path, class: "call-to-action no-modal" %></li> 
			  <% end %>                        
      </ul>
    </div><!-- navbar-collapse -->
  </div><!-- container -->
</nav>